.ticket-box {
    margin: 0 auto;
    text-align: center;
}

.alert-box {
    margin: 0 auto;
}
.space {
    margin-top: 10px;
    margin-bottom: 10px;
}
.detail-box {
    margin: 0 auto;
}

.row .alert-box {
    visibility: hidden;
}

.row .detail-box {
    visibility: hidden;
}